# Dependency directories
vault-client/node_modules/

#packege.lock
vault-client/package-lock.json

#Build directories
obligation-cordapp/kotlin-source/build/
obligation-cordapp/java-source/build/
obligation-cordapp/build
