body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.row {
  padding: 5px;
}

.greenBox {
  padding:15px;
  border:1px solid #CCC;
  background:rgba(143, 201, 148, 0.05);
}

.redBox {
  padding:15px;
  border:1px solid #CCC;
  background:rgba(228, 120, 101, 0.05);
}

.greyBox {
  padding:15px;
  border:1px solid #CCC;
  background:rgba(80,120,255,0.05);
  font-size: 18px;
}

#mainHeader div {
  padding:15px;
  background:rgba(80,120,255,0.05);
}